*{
    box-sizing: border-box;
}
body{ 
    /*el body afecta a toda la pagina*/
     font-family:sans-serif ;
     margin:0;
     flex-direction: column;
     padding: 3%;
     margin: 0;   
     background-color: rgb(214, 214, 214);
}

header{
    /*todo el header es la caja que 
    rodea a los botones*/
    position: relative;
    width: 99.5%;
    height: 50px;
    display: flex ;
    margin-bottom:10px ;
    height: 50px ;
    justify-content:space-between;
    align-items: flex-end;
    padding: 10px;
    border-radius:9px ;
    flex-direction: column;
    z-index: 0;
    border: 2px solid #000000
}


.nav-link{
    /* todo dentro del nav-link, desde 
    esta llave, es el color y diseño 
    de los botones*/


    padding-left: 10px;
    padding-right: 10px;



.boton-nav{
    position: relative;
    border: none;
    padding: 7px 17px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
    
    /* -Transición de color de fondo- */
}

.boton-nav:active {
    background-color: #1cc261; 
    
    /*- Cambio de color al presionar (indigo) -*/
}


.boton-nav::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    background-size: 800%;

    filter: blur(8px); 
    /*-filtro de desenfoque-*/
 animation: glowing 20s linear infinite;

}

/*hasta esta llave*/
}

nav{

    margin-top: -2px;
}

.botones{
    margin-right: -20%;

    float: left;
}

.IU{
    float: right;

    padding: 0px;
    padding-left: 0px;
    width: 40px;
}

.Usuario{



    width: 100%;
    height: 100%;
    margin-top: -5px;
    float: right;


}





.espacio{


    display: flex;

}

.CI{

width: 70%;

float: left;

}

.CT{

width: 70%;
height: 100%;
float: right;
background-color: white;
margin-top: 5%;

}

.img {
    
    width: 100%;




    height: 100%;
}

.QSTexto{
float: left;


}

.QSTitulo{

    align-items: center;
}

.textMain{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



}



.imagen{

width: 100%;
height: 100%;

}
.Cestrellas{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estrellas{

    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    display: flex;

}

.imagenS{

    width: 100%;
    justify-content: center;
    align-items: center;
   


}

/*
.grid-imagen2{
    
    display: grid;
    margin-bottom: 8255px;
    width: 100%; 
    
    /* -Establece el ancho de la celda al 100%- */
    /*
    height: 100%; 
*/
    /* -Establece la altura de la celda al 100%- */
    /*
    border: 14px solid #ccc; 
    */
    /* -Borde opcional para visualización- */
    /*
    justify-content: center;
    overflow-x: auto;
    


}
*/

hr{
    
    background-color: #111313;    
    margin-top: 5px;

}

.titulo-comunidades{
    display: flex;


    /*esta vaina afecta a la posición*/
 /*   justify-content: left;*/
    
    align-items: center;
    padding: 1px;
    width: 100%;
    }

.Titular{
border: 1px solid rgb(0, 0, 0);
float: left;
padding: 1%;
text-align:  center;
width: 105%;
height: 100%;
border-radius: 340px;
margin-top: 10px;  
background: linear-gradient(135deg, #71b7e6, #9b59b6);


}

.title{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}



.text{

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;


}



.card-Individual{

        height: 100%;
        width: 29.5%;
        float: right;
        display: flex;
    
    }

    
 .Grupo{


        width: 70%;
        float: left;
        margin-top: 1px;
        }
    
    .C1{
        width: 50%;
        float: left;
    }

    .C2{
        width: 50%;
        float: right;
    }

    
.Individual{
height: 100%;
} 


    .content{/*
        padding: 15px 0px 0px 44px;*/
    
        width: 100%;
        height: 100%;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 160px;
        margin-top: 10px;
        background-color: gray;
        box-shadow: 0 40px 8px rgba(0, 0, 0, 0.2);
        
    
    
    }
    .content2{
        width: 100%;
        height: 100%;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 140px;
        margin-top: 10px;  
        background-color: gray;
        box-shadow: 0 40px 8px rgba(0, 0, 0, 0.2);
    }


    footer{
        margin-top: 59px;
        width: 100%;

        background-color: rgb(214, 214, 214);
        padding: 0px;
        text-align: center;
        justify-content: space-evenly;
        display: flex;
    }


    ul{ /*este afecta a todos los ul*/
        list-style-type: none;
        padding: 0;
    
    }
    
    li { /*afecta al footeren su distribución*/
        display: inline;
        margin: 0 10px;
    }
    
    a { /*afecta a el footer en el color*/
        text-decoration: none;
        color: #333;
    }